<footer class="footer" style="padding-top: 3.5rem;">
    &copy; copyright @ 2022 by <span>lets collaborate with our students</span> | all rights reserved!
</footer>

<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>
