<%- include("partials/header.ejs")%>


<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>courses</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="/style3.css">

</head>
<body>  

<section class="courses">

    <h1 class="heading">our courses</h1>
 
    <div class="box-container">
 
       <div class="box">
          <div class="tutor">
             <img src="images/pic-2.jpg" alt="">
             <div class="info">
                <h3>Computer Science and Bussiness System</h3>
             </div>
          </div>
          <div class="thumb">
             <img src="images/thumb-1.jpg" alt="">
          </div>
 
          <a href="/semester" class="inline-btn">view Materials</a>
       </div>
 
       <div class="box">
         <div class="tutor">
            <img src="images/pic-3.jpg" alt="">
            <div class="info">
               <h3>Computer Science Engineering</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-2.jpg" alt="">
         </div>
         <a href="/semester" class="inline-btn">view Materials</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-4.jpg" alt="">
            <div class="info">
               <h3>Artifical intelligence</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-3.png" alt="">
         </div>
         <a href="/semester" class="inline-btn">view Materials</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-5.jpg" alt="">
            <div class="info">
               <h3>Computer Science and Design</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-4.png" alt="">
         </div>
         <a href="/semester" class="inline-btn">view Materials</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-6.jpg" alt="">
            <div class="info">
               <h3>Electronics and Commuinication</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-5.png" alt="">
         </div>
         <a href="/semester" class="inline-btn">view Materials</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-7.jpg" alt="">
            <div class="info">
               <h3>Electroniccal and Electronics Engineering</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-6.png" alt="">
            <span>10 videos</span>
         </div>
         <a href="/semester" class="inline-btn">view Materials</a>
      </div>
    </div>
 
 </section>

<!-- custom js file link  -->
<script src="js/script.js"></script>
   
<%- include("partials/footer.ejs")%>
</body>
</html>
