<!-- views/frontpage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐙 Sky is not limit</title>
    <link rel="stylesheet"  href="./style1.css">
</head>
<body>

    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text banner-text">😉 Welcome to our student community where learning meets inspiration on every click</div>
        </div>
    </div>

    <nav>
        <div class="container main-nav flex">
            <div class="flex">
                <div>
                    <a href="#" class="logo">
                        <img src="./images/logo.jpg" alt="logo">
                    </a>
                </div>
                <h1 class="banner">Sky <span>Learn</span></h1>
            </div>
            <div class="nav-links">
                <ul class="flex onlyul">
                    <li><a href="/login" class="hover-link secondary-button">Sign in</a></li>
                    <li><a href="/signup" class="hover-link primary-button">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="container header-section flex">
            <div class="header-left">
                  <h1>Articulators</h1>
                  <br>
                  <p>"Welcome to our website, a platform designed collaborative learning with friends"</p>
                  <br>
                  <a href="#" class="primary-button btn"> Get Started</a>
            </div>
            <div class="header-right">
                <img src="./images/background1.jpg" alt="image">
            </div>
        </div>
    </header>

    <section class="features-section">
        <div class="container">
            <div class="features-header">

                <h2>Your statification our pleasure</h2>
                <a href="#" class="secondary-button">see all features <i class="fa-solid fa-right-long"></i></a>

            </div>
            <div class="feature-area flex">
                <div class="feature-cards flex">
                    <img src="./images/chat.png" alt="chat-logo" >
                   <h3>Interactive chat</h3>
                   <p> Stay connected with us and other users through real-time messaging</p>
                   <a href="#" class="secondary-button">see all features <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="feature-cards flex">

                    <img src="./images/call.png" alt="chat-logo" >
                   <h3>Make Call</h3>
                   <p>With just a click, you can bridge distances between your friends</p>
                   <a href="#" class="secondary-button">see all features <i class="fa-solid fa-right-long"></i></a>

                </div>

                <div class="feature-cards flex">

                    <img src="./images/book.png" alt="chat-logo" >
                   <h3>Materials</h3>
                   <p> Share Materials and learn together with friends and collegues</p>
                   <a href="#" class="secondary-button">see all features <i class="fa-solid fa-right-long"></i></a>

                </div>


            </div>
        </div>
    </section>
    <section class="features-section"></section>
    <section class="features-section"></section>
    <section class="features-section"></section>


    <footer></footer>
    

    <div class="spacer" style="height:5vh;"></div>
    <script src="https://kit.fontawesome.com/cfd64139ec.js" crossorigin="anonymous"></script>  
</body>
</html>

    

   